@using HospitalManagement.ViewModels
@model NewMedicalRecordViewModel
@inject HospitalManagement.Interfaces.IEncryptionService encryptionService

@{
    ViewData["Title"] = "Admit Patient";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
    var prescribedList = (Model.PrescribedMedication ?? new List<Medication>()).ToList();
}

<a asp-controller="Appointments" asp-action="Appointments" class="text-decoration-none d-inline-flex align-items-center back-link mt-4 ms-4">
    <i class="bi bi-chevron-left me-1"></i>Admit Patient
</a>

<div class="container py-3">
    <div class="card shadow-lg border-0" style="border-left: 6px solid #48AAAD; border-radius: 10px;">
        <div class="card-header text-white" style="background-color: #48AAAD;">
            <h3 class="mb-0">New medical record</h3>
        </div>
        <div class="card-body px-4 py-4">

            <form asp-action="NewMedicalRecord" asp-controller="MedicalHistories" method="post" novalidate>
                <input type="hidden" asp-for="PatientId" />

                <div class="w-100 mt-4 mb-3">
                    <h3 class="px-3 py-2 bg-light" style="color:#48AAAD; border-left: 5px solid #48AAAD;">
                        Patient Information
                    </h3>
                </div>
                <div class="text-center mb-3">
                    <img src="~/@Model.ProfilePicture" alt="Profile Picture" class="img-thumbnail rounded-circle" style="width: 120px; height: 120px; object-fit: cover;" />
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="FirstName" class="form-label fw-semibold text-muted"></label>
                        <input asp-for="FirstName" class="form-control" readonly />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="LastName" class="form-label fw-semibold text-muted"></label>
                        <input asp-for="LastName" class="form-control" readonly />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="DateOfBirth" class="form-label fw-semibold text-muted"></label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" readonly />
                    </div>
                </div>

                <div class="w-100 mt-4 mb-3">
                    <h3 class="px-3 py-2 bg-light" style="color:#48AAAD; border-left: 5px solid #48AAAD;">
                        Medical Record Information
                    </h3>
                </div>
                <div class="mb-3">
                    <label asp-for="ChiefComplaint" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="ChiefComplaint" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="ChiefComplaint" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Symptoms" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Symptoms" class="form-control" rows="3" placeholder="Enter symptoms separated by commas"></textarea>
                    <small class="form-text text-muted">Separate symptoms with commas.</small>
                    <span asp-validation-for="Symptoms" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Diagnosis" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Diagnosis" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Surgeries" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Surgeries" class="form-control" rows="3" placeholder="Enter surgeries separated by commas"></textarea>
                    <small class="form-text text-muted">Separate surgeries with commas.</small>
                    <span asp-validation-for="Surgeries" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Immunizations" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Immunizations" class="form-control" rows="3" placeholder="Enter immunizations separated by commas"></textarea>
                    <small class="form-text text-muted">Separate immunizations with commas.</small>
                    <span asp-validation-for="Immunizations" class="text-danger"></span>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="HeightCm" class="form-label fw-semibold text-muted"></label>
                        <input asp-for="HeightCm" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="HeightCm" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="WeightKg" class="form-label fw-semibold text-muted"></label>
                        <input asp-for="WeightKg" class="form-control" type="number" step="0.01" />
                        <span asp-validation-for="WeightKg" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Treatment" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Treatment" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Treatment" class="text-danger"></span>
                </div>

                @if(ViewBag.Admission == null)
                {
                    <div id="dischargePatientFields">
                        <div class="row g-4 mb-4">
                            <div class="col-md-6">
                                <label for="categoryDropdown">Medication to prescribe</label>
                                <div class="d-flex flex-nowrap gap-2 align-items-center">
                                    <select id="categoryDropdown" class="form-select" style="flex: 0 0 66.6667%; min-width: 0;">
                                        <option value="">-- Select Medication --</option>
                                        @foreach (var medication in ViewBag.Medications)
                                        {
                                            <option value="@medication.MedicationId">
                                                @medication.MedicationName (D @medication.DosageForm - S @medication.Strength - U @medication.UnitOfMeasure)
                                            </option>
                                        }
                                    </select>

                                    <button id="addMedicationBtn" type="button" class="btn btn-success btn-md" style="flex: 0 0 33.3333%; height: auto; white-space: nowrap;">
                                        <i class="fas fa-plus me-1"></i> Add
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <span asp-validation-for="PrescribedMedication" class="text-danger small"></span>

                                <div id="medicationsContainer" class="border rounded py-2 px-3 shadow-sm mt-3" style="min-height: 100px; background-color: #f9f9f9;">
                                </div>

                                <div id="hiddenInputsContainer">
                                    @for (int i = 0; i < prescribedList.Count; i++)
                                    {
                                        <input type="hidden" name="PrescribedMedication[@i].MedicationId" value="@prescribedList[i].MedicationId" />
                                        <input type="hidden" name="PrescribedMedication[@i].MedicationName" value="@prescribedList[i].MedicationName" />
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="row g-4 mb-4">
                            <label class="form-label fw-semibold text-muted">Collection Type</label>
                            <select asp-for="PrescriptionType" class="form-select rounded-3" asp-items="Html.GetEnumSelectList<PrescriptionType>()" id="prescriptionType">
                                <option value="">-- Select Collection Type --</option>
                            </select>
                            <span asp-validation-for="PrescriptionType" class="text-danger small"></span>
                        </div>
                        <div id="recurringFields" class="row g-4 mb-4" style="display: none;">
                            <div class="col-md-2">
                                <label asp-for="CollectAfterCount" class="form-label fw-semibold text-muted"></label>
                                <input asp-for="CollectAfterCount" class="form-control rounded-3" />
                                <span asp-validation-for="CollectAfterCount" class="text-danger small"></span>
                            </div>

                            <div class="col-md-5">
                                <label asp-for="CollectionInterval" class="form-label fw-semibold text-muted"></label>
                                <select asp-for="CollectionInterval" class="form-select rounded-3" asp-items="Html.GetEnumSelectList<CollectionInterval>()">
                                    <option value="">-- Select Interval --</option>
                                </select>
                                <span asp-validation-for="CollectionInterval" class="text-danger small"></span>
                            </div>

                            <div class="col-md-5">
                                <label asp-for="UntilDate" class="form-label fw-semibold text-muted"></label>
                                <input asp-for="UntilDate" type="date" class="form-control rounded-3" />
                                <span asp-validation-for="UntilDate" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                }
                <div class="mb-3">
                    <label asp-for="FollowUpInstructions" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="FollowUpInstructions" class="form-control" rows="3" placeholder="Enter follow-up instructions separated by commas"></textarea>
                    <small class="form-text text-muted">Separate instructions with commas.</small>
                    <span asp-validation-for="FollowUpInstructions" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Vitals" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Vitals" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Vitals" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LabResults" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="LabResults" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="LabResults" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Notes" class="form-label fw-semibold text-muted"></label>
                    <textarea asp-for="Notes" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save me-1"></i> Save
                    </button>
                    <input asp-for="PatientMedicalHistoryId" type="hidden" />
                    <input asp-for="PatientId" type="hidden" />
                    <input asp-for="BookingId" type="hidden" />
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const dropdown = document.getElementById('categoryDropdown');
        const addBtn = document.getElementById('addMedicationBtn');
        const container = document.getElementById('medicationsContainer');
        const hiddenInputsContainer = document.getElementById('hiddenInputsContainer');

        let selectedMedications = [];

        Array.from(hiddenInputsContainer.querySelectorAll('input[name^="PrescribedMedication"]'))
            .forEach((input, index, allInputs) => {
                const match = input.name.match(/\[(\d+)\]\.MedicationId/);
                if (match) {
                    const medIndex = parseInt(match[1]);
                    const id = input.value;
                    const nameInput = allInputs.find(el => el.name === `PrescribedMedication[${medIndex}].MedicationName`);
                    if (nameInput) {
                        selectedMedications.push({ id: id, text: nameInput.value });
                    }
                }
            });

        function renderMedications() {
            container.innerHTML = '';
            hiddenInputsContainer.innerHTML = '';

            selectedMedications.forEach((med, index) => {

                const medPill = document.createElement('span');
                medPill.style.backgroundColor = '#48AAAD';
                medPill.style.color = 'white';
                medPill.style.userSelect = 'none';
                medPill.style.marginRight = '0.5rem';
                medPill.style.marginBottom = '0.5rem';
                medPill.style.display = 'inline-flex';
                medPill.style.alignItems = 'center';
                medPill.style.padding = '0.3rem 0.5rem';
                medPill.style.borderRadius = '8px';
                medPill.textContent = med.text;

                const removeBtn = document.createElement('button');
                removeBtn.type = 'button';
                removeBtn.setAttribute('aria-label', 'Remove');
                removeBtn.style.cursor = 'pointer';
                removeBtn.style.background = 'transparent';
                removeBtn.style.border = 'none';
                removeBtn.style.color = 'white';
                removeBtn.style.fontWeight = 'bold';
                removeBtn.style.marginLeft = '0.5rem';
                removeBtn.textContent = 'X';

                removeBtn.addEventListener('click', () => {
                    selectedMedications.splice(index, 1);
                    renderMedications();
                });

                medPill.appendChild(removeBtn);
                container.appendChild(medPill);

                const medIdInput = document.createElement('input');
                medIdInput.type = 'hidden';
                medIdInput.name = `PrescribedMedication[${index}].MedicationId`;
                medIdInput.value = med.id;

                const medNameInput = document.createElement('input');
                medNameInput.type = 'hidden';
                medNameInput.name = `PrescribedMedication[${index}].MedicationName`;
                medNameInput.value = med.text;

                hiddenInputsContainer.appendChild(medIdInput);
                hiddenInputsContainer.appendChild(medNameInput);
            });
        }

        addBtn.addEventListener('click', () => {
            const selectedValue = dropdown.value;
            const selectedText = dropdown.options[dropdown.selectedIndex].text;

            if (!selectedValue || selectedMedications.some(med => med.id === selectedValue)) return;

            selectedMedications.push({ id: selectedValue, text: selectedText });
            renderMedications();
        });

        renderMedications();
    });
    document.addEventListener('DOMContentLoaded', function () {
                const select = document.getElementById('prescriptionType');
                const recurringFields = document.getElementById('recurringFields');

                function toggleRecurringFields() {
                    const selectedValue = select.options[select.selectedIndex].text;
                    if (selectedValue === 'Recurring') {
                        recurringFields.style.display = 'flex';
                    } else {
                        recurringFields.style.display = 'none';
                    }
                }

               
                toggleRecurringFields();

              
                select.addEventListener('change', toggleRecurringFields);
            });
</script>

