@model HospitalManagement.ViewModels.CartItemViewModel

@{
    ViewData["Title"] = "Add to Cart";
}

<form asp-action="AddCartItem" asp-controller="CartItems" method="post" id="createCartItemForm">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="MenuItemId" />
    <input type="hidden" asp-for="MenuItemName" />
    <input type="hidden" asp-for="MenuItemPrice" />

    <div class="card shadow rounded-4 p-4">
        <h5 class="mb-4 text-center fw-bold" style="color: #022D36;">Add @Model.MenuItemName to Cart</h5>


        <div class="mb-3">
            <label class="form-label fw-semibold">Price</label>
            <div class="form-control rounded-3 bg-light fw-bold">R @Model.MenuItemPrice</div>
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Quantity</label>
            <input asp-for="Quantity"
                   class="form-control rounded-3 quantity-input w-100"
                   id="quantityInput_@Model.MenuItemId"
                   data-price="@Model.MenuItemPrice.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)"
                   value="1"
                   min="1"
                   type="number"
                   style="appearance: textfield;" />
        </div>


        <div class="mb-3">
            <label class="form-label fw-semibold">Subtotal</label>
            <div id="subtotal" class="form-control rounded-3 bg-light">R @Model.MenuItemPrice</div>
        </div>
    </div>
</form>
