@model HospitalManagement.Models.Order


<div class="receipt-container">
    <div class="receipt-header">
        <span style="color: #022D36;font-size:30px; font-weight:bold;">Medi</span><span style="color: #48AAAD; font-size:30px; font-weight:bold;">Connect</span>
        <div>PATIENT/CUSTOMER COPY</div>
        <div>Order #: @Model.LastFourDigitsOfOrderNumber</div>
        <div>Date: @Model.OrderDate.ToString("dd/MM/yyyy HH:mm")</div>
    </div>

    <dl class="receipt-details">
        <dt>Order Status:</dt>
        <dd>@(Model.Status)</dd>
    </dl>

    <div class="items-header">
        <div class="item-name">Item</div>
        <div class="item-qty">Qty</div>
        <div class="item-subtotal">Subtotal (R)</div>
    </div>

    @foreach (var item in Model.OrderItems)
    {
        <div class="item-row">
            <div class="item-name">@item.MenuItem.ItemName</div>
            <div class="item-qty">@item.Quantity</div>
            <div class="item-subtotal">@item.SubTotal.ToString("F2")</div>
        </div>
    }

    <div class="summary-row">
        Total: R @Model.TotalPrice.ToString("F2")
    </div>

    <div class="receipt-footer">
        Thank you for your order!
    </div>
</div>